<div class="wrapper">
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li><a href="/browse">Browse</a></li>
        </ul>
        
        <ul class="list-unstyled components">
            <p>Your Library</p>
            <li class="active">
                <a href="">Recently Played</a>
            </li>
            <li>
                <a href="">Songs</a>
            </li>
            <li>
                <a href="">Album</a>
            </li>
            <li>
                <a href="">Artists</a>
            </li>
        </ul>
        
        <ul class="list-unstyled components">
            <p>Playlists</p>
            <li class="active">
                <a href="">Liked songs</a>
            </li>
        </ul>
        
        <div class="fixed-bottom">
            <a href=""><i class="fas fa-plus-circle"></i> Add Playlist</a>
        </div>
    </nav>

    <div id="content">