<% include partials/header %>

<body>

<% include partials/navbar %>
<% include partials/sidebar %>

<div class="container">
    <!--<div class="card" style="width: 18rem;">-->
    <!--    <img src="..." class="card-img-top" alt="...">-->
    <!--    <div class="card-body">-->
    <!--        <h5 class="card-title">Assassin's Creed</h5>-->
    <!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
    <!--    </div>-->
    <!--</div>-->
    <h1>Fade</h1>
    
    <audio controls controlsList="nodownload">
        <source src="https://preview.c9users.io/tejasjoshi1998/mp3_player/v1/sounds/Fade.mp3?_c9_id=livepreview3&_c9_host=https://ide.c9.io" type="audio/mpeg">
    </audio>
    
    <hr>
    
    <h1>Venice Rooftops</h1>
    
    <audio controls controlsList="nodownload">
        <source src="https://preview.c9users.io/tejasjoshi1998/mp3_player/v1/sounds/VeniceRooftops.mp3?_c9_id=livepreview0&_c9_host=https://ide.c9.io" type="audio/mpeg">
    </audio>
</div>

</div>
</div>
<% include partials/footer %>