<% include partials/header %>

<div class="container">
    <h1>Fade</h1>
    
    <audio controls>
        <source src="https://preview.c9users.io/tejasjoshi1998/mp3_player/v1/sounds/Fade.mp3?_c9_id=livepreview3&_c9_host=https://ide.c9.io" type="audio/mpeg">
    </audio>
    
    <hr>
    
    <h1>Venice Rooftops</h1>
    
    <audio controls>
        <source src="https://preview.c9users.io/tejasjoshi1998/mp3_player/v1/sounds/VeniceRooftops.mp3?_c9_id=livepreview0&_c9_host=https://ide.c9.io" type="audio/mpeg">
    </audio>
    
</div>


<% include partials/footer %>