<% include partials/header %>

<body>

<% include partials/navbar %>
<% include partials/sidebar %>

<div class="container">
    
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <img src="https://i.kinja-img.com/gawker-media/image/upload/18hetehto0lrijpg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Assassin's Creed</h5>
                    <a href="browse/album" class="btn btn-primary">Open</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <img src="https://wallpapercave.com/wp/wp2029350.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NCS</h5>
                    <a href="#" class="btn btn-primary">Open</a>
                </div>
            </div>
        </div>
    </div>

    <h1>Fade</h1>
    
    <audio controls controlsList="nodownload">
        <source src="https://preview.c9users.io/tejasjoshi1998/mp3_player/v1/sounds/Fade.mp3?_c9_id=livepreview3&_c9_host=https://ide.c9.io" type="audio/mpeg">
    </audio>
    
    <hr>
    
    <h1>Venice Rooftops</h1>
    
    <audio controls controlsList="nodownload">
        <source src="https://preview.c9users.io/tejasjoshi1998/mp3_player/v1/sounds/VeniceRooftops.mp3?_c9_id=livepreview0&_c9_host=https://ide.c9.io" type="audio/mpeg">
    </audio>
</div>

</div>
</div>
<% include partials/footer %>