<% include partials/header %>

<body id="landing">

<% include partials/navbar %>

    <h1 id="title">MP3 Streamer</h1>
    
    <p id="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rutrum quisque non tellus orci ac. Amet purus gravida quis blandit turpis.</p>

    <div class="redirectButton">
        <button class="btn btn-primary btn-lg"><a href="/login">GET STARTED <i class="fas fa-chevron-right"></i></a></button>
    </div>

<% include partials/footer %>