<% include ../partials/header %>

<body>

<% include ../partials/navbar %>
<% include ../partials/sidebar %>

    <div class="container">
        <div class="card mb-3 album-head">
            <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="https://i.kinja-img.com/gawker-media/image/upload/18hetehto0lrijpg.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
            </div>
        </div>
        
        <table class="table song-list">
            <tr>
                <th>#</th>
                <th>Song</th>
                <th><i class="fas fa-stopwatch"></i></th>
            </tr>
            <tr class="song-row">
                <td>1</td>
                <td><a href="/browse/album/song/id">Ezio's Family</a></td>
                <td>5:00</td>
            </tr>
            <tr class="song-row">
                <td>2</td>
                <td>Venice Rooftops</td>
                <td>3:00</td>
            </tr>
            <tr class="song-row">
                <td>3</td>
                <td>City Of Rome</td>
                <td>2:56</td>
            </tr>
        </table>
    </div>

</div>
</div>
<% include ../partials/footer %>