<% include ../partials/header %>

<body>

<% include ../partials/navbar %>
<% include ../partials/sidebar %>

    <div class="container">
        <div class="card mb-3 album-head">
            <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="https://i.kinja-img.com/gawker-media/image/upload/18hetehto0lrijpg.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                   
                    <h3 class="card-title">Ezio's Family</h3>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                   
                    <audio controls controlsList="nodownload">
                        <source src="https://preview.c9users.io/tejasjoshi1998/mp3_player/v1/sounds/Fade.mp3?_c9_id=livepreview3&_c9_host=https://ide.c9.io" type="audio/mpeg">
                    </audio>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<% include ../partials/footer %>